#nav {
    background-color: #323232;
    font-family: 'Cinzel', serif;
}

.container-fluid a,
button {
    color: #FA4EAB;
}

.nav-link {
    color: #0abdc6;
}


.dropdown ul {
    justify-content: space-around;
    text-align: center;
}

.search-form {
    right: 200px;
    top: 200px;
}

.search-field {
    background-color: transparent;
    background-image: url(https://wp-themes.com/wp-content/themes/twentythirteen/images/search-icon.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: none;
    cursor: pointer;
    height: 40px;
    margin: 3px 0;
    padding: 0 0 0 34px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition: width 400ms ease, background 400ms ease;
    width: 0px;
    cursor: pointer;
}

.search-field:focus {
    background: none;
    border: 2px solid #FE83C6;
    cursor: text;
    outline: 0;
    width: 250px;
    color: #fff;
}

input[type=text]:focus {
    border: 2px solid #FE83C6;
  }

.search-form .search-submit {
    display: none;
}

.search-form{
    border: none;
}